devices: (
    {
        name: "MX Master 4";
        smartshift: {
            on: true;
            threshold: 15;
            torque: 85;
        };
        hiresscroll: {
            hires: false;
            target: false;
        };
        dpi: 1200;
        thumbwheel: {
            invert: true;
        };
        haptic_feedback: {
            enabled: true;
            strength: 80;
            battery_saving: false;
        };
        buttons: (
            // Forward button
            {
                cid: 0x56;
                action = {
                    type: "Gestures";
                    gestures: (
                        {
                            direction: "None";
                            mode: "OnRelease";
                            action = {
                                type: "Keypress";
                                keys: ["KEY_FORWARD"];
                            }
                        },
                        {
                            direction: "Up";
                            mode: "OnRelease";
                            haptic_effect: 0;
                            action = {
                                type: "Keypress";
                                keys: ["KEY_PLAYPAUSE"];
                            }
                        },
                        {
                            direction: "Down";
                            mode: "OnRelease";
                            haptic_effect: 0;
                            action = {
                                type: "Keypress";
                                keys: ["KEY_PLAYPAUSE"];
                            }
                        },
                        {
                            direction: "Right";
                            mode: "OnRelease";
                            haptic_effect: 1;
                            action = {
                                type: "Keypress";
                                keys: ["KEY_NEXTSONG"];
                            }
                        },
                        {
                            direction: "Left";
                            mode: "OnRelease";
                            haptic_effect: 1;
                            action = {
                                type: "Keypress";
                                keys: ["KEY_PREVIOUSSONG"];
                            }
                        }
                    );
                };
            },
            // Back button
            {
                cid: 0x53;
                action = {
                    type: "Gestures";
                    gestures: (
                        {
                            direction: "None";
                            mode: "OnRelease";
                            action = {
                                type: "Keypress";
                                keys: ["KEY_BACK"];
                            }
                        },
                        # {
                        #     direction: "Left";
                        #     mode: "OnRelease";
                        #     haptic_effect: 1;
                        #     action = {
                        #         type: "Keypress";
                        #         keys: ["KEY_LEFTSHIFT", "KEY_LEFTCTRL", "KEY_C"];
                        #     }
                        # },
                        # {
                        #     direction: "Right";
                        #     mode: "OnRelease";
                        #     haptic_effect: 1;
                        #     action = {
                        #         type: "Keypress";
                        #         keys: ["KEY_LEFTSHIFT", "KEY_LEFTCTRL", "KEY_V"];
                        #     }
                        # },
                        {
                            direction: "Up";
                            mode: "OnThreshold";
                            haptic_effect: 14;
                            threshold: 350;
                            action = {
                                type: "Keypress";
                                keys: ["KEY_PRINT"];
                            }
                        },
                        # {
                        #     direction: "Down";
                        #     mode: "OnRelease";
                        #     haptic_effect: 14;
                        #     action = {
                        #         type: "Keypress";
                        #         keys: ["KEY_PRINT"];
                        #     }
                        # }
                    );
                };
            },
            // Thumb button
            {
                cid: 0x1a0;
                action = {
                    type: "Gestures";
                    gestures: (
                        {
                            direction: "None";
                            mode: "OnRelease";
                            action = {
                                type: "Keypress";
                                keys: ["KEY_LEFTCTRL", "KEY_TAB"];
                            }
                        },
                        {
                            direction: "Right";
                            mode: "OnIntervalDual";
                            interval: 250;
                            haptic_effect: 4;
                            haptic_every_interval: true;
                            action_positive = {
                                type: "Keypress";
                                keys: ["KEY_LEFTCTRL", "KEY_PAGEDOWN"];
                            }
                            action_negative = {
                                type: "Keypress";
                                keys: ["KEY_LEFTCTRL", "KEY_PAGEUP"];
                            }
                        }
                    );
                };
            },
            // Third button
            {
                cid: 0xc3;
                action = {
                    type: "Keypress";
                    keys: ["KEY_LEFTMETA"];
                };
            },
            // Wheel button
            # {
            #     cid: 0x52;
            #     action = {
            #         divert: true;
            #         type: "Gestures";
            #         gestures: (
            #             {
            #                 direction: "None";
            #                 mode: "OnRelease";
            #                 action = {
            #                     type: "Keypress";
            #                     keys: ["BTN_MIDDLE"];
            #                 };
            #             },
            #             {
            #                 direction: "Up";
            #                 mode: "OnRelease";
            #                 action = {
            #                     type: "Keypress";
            #                     keys: ["KEY_LEFTMETA", "KEY_UP"];
            #                 };
            #             },
            #             {
            #                 direction: "Down";
            #                 mode: "OnRelease";
            #                 action = {
            #                     type: "Keypress";
            #                     keys: ["KEY_LEFTMETA", "KEY_DOWN"];
            #                 };
            #             },
            #             {
            #                 direction: "Right";
            #                 mode: "OnRelease";
            #                 action = {
            #                     type: "Keypress";
            #                     keys: ["KEY_LEFTMETA", "KEY_RIGHT"];
            #                 };
            #             },
            #             {
            #                 direction: "Left";
            #                 mode: "OnRelease";
            #                 action = {
            #                     type: "Keypress";
            #                     keys: ["KEY_LEFTMETA", "KEY_LEFT"];
            #                 };
            #             }
            #         );
            #     };
            # },
            // Top button
            {
                cid: 0xc4;
                action = {
                    type: "Gestures";
                    gestures: (
                        {
                            direction: "Right";
                            mode: "OnInterval";
                            interval: 100;
                            haptic_effect: 4;
                            action = {
                                type: "Keypress";
                                keys: ["KEY_VOLUMEUP"];
                            };
                        },
                        {
                            direction: "Left";
                            mode: "OnInterval";
                            interval: 100;
                            haptic_effect: 4;
                            action = {
                                type: "Keypress";
                                keys: ["KEY_VOLUMEDOWN"];
                            };
                        },
                        {
                            direction: "Up";
                            mode: "OnThreshold";
                            threshold: 150;
                            haptic_effect: 2;
                            action = {
                                type: "Keypress";
                                keys: ["KEY_LEFTSHIFT","KEY_LEFTMETA","KEY_F20"];
                            };
                        },
                        {
                            direction: "Down";
                            mode: "OnThreshold";
                            threshold: 150;
                            haptic_effect: 4;
                            action = {
                                type: "Keypress";
                                keys: ["KEY_LEFTMETA","KEY_F20"];
                            };
                        },
                        {
                            direction: "None";
                            mode: "OnRelease";
                            action = {
                                type: "ToggleSmartShift";
                            };
                        }
                    );
                };
            }
        );
    }
);
